* {
	font-family : sans-serif ;
	color : #202020 ;
	background : transparent;
}
:root {
	background-color : #ffffff;
}
.maintitle {
	color : #202020 ;
	font-size : 140%;
	display : block;
	text-align : center;
	margin-left : auto;
	margin-right : auto;
}
.logo {
	/*font-size : 10px;*/
	display : block;
	text-align : center;
	margin-top : 10px;
	margin-bottom : 10px;
	margin-left : auto;
	margin-right : auto;
	height : 200px;
	width : auto;
	box-shadow : 0px 0px 0px 0px;
	/*font-weight : bold;
	color : #000000 ;*/
}
.content {
	width : 60%;
	margin-left : auto;
	margin-right: auto;
	display : center;
	margin-top : 20px ;
	margin-bottom : 20px;
	/*text-align : center ;*/
	/*box-shadow: 0px 0px 2px 2px #101010;
	border-style : solid;
	border-width : 2px;
	border-color : #801010;*/
	
}
.navbar {
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px ;
	margin-bottom : 0px;
	height : 50px;
	text-align : center ;
	position : relative;
	display : block;
	background-color : #101010;;
}
.active {
	background-color : #ffffff;
}
.biopic {
	float : left;
	height : auto;
	width : 120px;
	margin-top : 2px;
	margin-bottom : 2px;
	margin-right : 10px;
}
.biodiv {
	display: table;
}
.bio {
	display : table-row;
}
p {
	font-size : 120%;
	margin-left : 2%;
	margin-right : 2%;
}
h {
	font-size : 140%;
	font-weight: bold;
	display : block;
	margin-left : 2%;
	margin-top : 10px;
	margin-bottom: 10px;
	color : #101010;
	clear : all;
}
h1 {
	margin-left : 2%;
	padding-left : 1%;
	border-style : solid;
	border-width : 0px 0px 2px 2px;
}
a {
	color : #101010;
	display : inline;
}
a:hover {
	color : #ffffff;
	background-color : #101010;
}
br {
	margin-top : 20px;
}
.navc {
	font-size : 150%;
	color : #ffffff;
	margin-left : 1%;
	margin-right : 1%;
	position : relative;
	top : 25%;
}
.navc:hover {
	color : #101010;
	background-color : #ffffff;
}
.active {
	background-color : #ffffff;
}
img {
	margin-top : 20px;
	margin-bottom : 20px;	
	display : block;
	width : 40%;
	height : auto;
	margin-left : auto;
	margin-right : auto;
	/*box-shadow: 0px 0px 2px 2px #101010;*/
}

.slideshow {
	display : block; /* horizontal expansion */
	margin-left : auto; /* centering */
	margin-right : auto;
	width : 80%;
	padding-bottom: 55%; /* makes height x% of width, this maintains aspect ratio */
	position : relative;
	background-size : cover;
    	-webkit-transition: all 1s; /* Safari */
    	-moz-transition: all 1s; /*not yet implemented in firefox*/
	transition: all 1s;
	transition-property: all;	
}
.prev {
	display : inline-block;
	position : absolute;
	top :40%;
	left : 0%;
	background-image: url("../pic/background.jpg");
	padding-top : 0%;
	padding-bottom : 0%;
	padding-left : 0%;
	padding-right : 0%;
	width : 8%;
	border : none;
}
.next {
	display : inline-block;
	position : absolute;
	top :40%;
	right : 0%;
	background-image: url("../pic/background.jpg");
	padding-top : 0%;
	padding-bottom : 0%;
	padding-left : 0%;
	padding-right : 0%;
	width : 8%;
	border : none;
}
.navi {
	margin-bottom : 0%;
	margin-top : 0%;
	margin-right : 0%;
	margin-left : 0%;
	width : 100%;
	height : auto;
	opacity : 0.5;
	box-shadow : none;
}
.slidebar {
	width: 60%;
	height : 10%;
	margin-left : auto;
	margin-right : auto;
	position : relative;
}
