* {

	font-family: "Raleway";
	color : #000000 ;
	background : transparent;
	/* set zero margins so that it has to be set manually 
	for each element*/
	margin-top : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-bottom: 0px;
	/*padding */
	padding-top : 0px;
	padding-bottom : 0px;
}
/*classes in the header*/
.header {
	/*has div increase to size of float children*/
	display: inline-block;
	width: 100%;
	/* to accomodate for navbar's position absolute*/
	position: relative;
}
.banner {
	width : auto;
	/*makes it proportional to the wdith*/
	height: 10vw;
	/*make sure it doesn't take too much of the screen*/
	max-height: 20vh;
	/*left side of page*/
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar {
	/*has it be the size of it's children*/
	display:inline;
	/*so it can be in the middle of it's parent header, in terms of Y, but
	float to right */
	/*Y axis centering*/
	position: absolute;
	/*go to right */
	right: 0px;
	/* centering of Y axis*/
	/*down relative to parent*/
	top: 50%;
	/*up realtive to self*/
	transform:translatey(-50%);	
	/*highlight*/
	background-color : #101010; 

	/* padding */
	padding-top: .5vw;
	padding: .5vw;
}
.navc {
	/* so it goes in a block*/
	display: inline-block;
	/* so that it fits in the header, font-size sets font height but it's proportional*/
	font-size: 2vw;
	color: #ffffff;
	/* good spacing */
	margin-left: 1vw;
	margin-right: 1vw;
}
.navc:hover {
	background-color : #ffffff;
	color: #c02020;
}
/* main div */
.content {
	/*nice size*/
	width : 60%;
	margin-left : auto;
	margin-right: auto;
	display : block;
	margin-top: 2vh;
}
/*bio classes*/
img.biopic{
	/*preserves aspect ratio*/
	width : 20vh;
	height: auto;
	/*has the image go towards top*/
	position: absolute;
	top : 0px;
	margin-top : 0px;
	margin-bottom: 0px;
}
div.biopic {
	/*so the pic can be at the top*/
	position: relative;
	/*floats it left*/
	float : left;
	/*makes the image frame box*/
	height : 20vh;
	width : 20vh;
	margin-top : 2px;
	margin-bottom : 2px;
	margin-right : 15px;
	/*to cropt things*/
	overflow: hidden; 
}
.biotitle {
	display: block;
	font-weight: bold;
		
}
.bio {
	display : inline-block;
	margin-bottom: 1vh;
}
/*general classes*/
p {
	font-size : 100%;
	margin-left : 2%;
	margin-right : 2%;
	font-weight: bold;
}
h1 {
	font-size : 120%;
	/*font-weight: bold;*/
	display : block;
	margin-left : 0%;
	margin-top : 10px;
	margin-bottom: 10px;
	margin-left : 2%;
	padding-left : 1%;
	border-style : solid;
	border-width : 0px 0px 2px 2px;
	clear : all;
}

a {
	color: #c01010;
	text-decoration : none;
	display : inline;
}

br {
	margin-top : 20px;
}


img {
	margin-top : 20px;
	margin-bottom : 20px;
	display : block;
	width : 40%;
	height : auto;
	margin-left : auto;
	margin-right : auto;
	/*box-shadow: 0px 0px 2px 2px #101010;*/
}
/* slideshow */
.slideshow {
	display : block; /* horizontal expansion */
	margin-left : auto; /* centering */
	margin-right : auto;
	width : 80%;
	padding-bottom: 55%; /* makes height x% of width, this maintains aspect ratio */
	position : relative;
	background-size : cover;
    	-webkit-transition: all 1s; /* Safari */
    	-moz-transition: all 1s; /*not yet implemented in firefox*/
	transition: all 1s;
	transition-property: all;	
}
.prev {
	display : inline-block;
	position : absolute;
	top :45%;
	left : 0%;
	background-image: url("../pic/background.jpg");
	padding-top : 0%;
	padding-bottom : 0%;
	padding-left : 1%;
	padding-right : 0%;
	width : 7%;
	border : none;
}
.next {
	display : inline-block;
	position : absolute;
	top :45%;
	right : 0%;
	background-image: url("../pic/background.jpg");
	padding-top : 0%;
	padding-bottom : 0%;
	padding-left : 0%;
	padding-right : 1%;
	width :7%;
	border : none;
}
.navi {
	margin-bottom : 0%;
	margin-top : 0%;
	margin-right : 0%;
	margin-left : 0%;
	width : 100%;
	height : auto;
	opacity : 0.8;
	box-shadow : none;
}
.slidebar {
	width: 60%;
	height : 10%;
	margin-left : auto;
	margin-right : auto;
	position : relative;
}
footer {
	margin-top: 50px;
	width: 100%;
	margin: center;
	text-align: center;
	background-color: #ffffff;
	font-family: 'Work Sans', sans-serif;


	
}
.sponsor{
	
	display: inline-block;
	margin-left : 2%;
	margin-right : 2%;
	width: 350px;
}
