* {
	font-family : monospace ;
	color : #202020 ;
	background-color : #e8e8e8 ;
}
.maintitle {
	color : #202020 ;
	font-size : 140%;
	display : block;
	text-align : center;
	margin-left : auto;
	margin-right : auto;
}
.logo {
	/*font-size : 10px;*/
	display : block;
	text-align : center;
	margin-top : 10px;
	margin-bottom : 10px;
	margin-left : auto;
	margin-right : auto;
	width : 90%;
	height : auto;
	box-shadow : 0px 0px 0px 0px;
	/*font-weight : bold;
	color : #000000 ;*/
}
.content {
	margin-left : 10%;
	margin-right : 10%;
	margin-top : 20px ;
	margin-bottom : 20px;
	/*text-align : center ;*/
	box-shadow: 0px 0px 2px 2px #101010;
	border-style : solid;
	border-width : 2px;
	border-color : #801010;
	
}
.navbar {
	margin-left : 50px;
	margin-right : 50px;
	margin-top : 20px ;
	margin-bottom : 40px;
	text-align : center ;
	box-shadow: 0px 0px 2px 2px #101010;
	border-style : solid;
	border-width : 2px;
	border-color : #33c89e;
	display : block;
}
.navcont {
	font-size : 15px;
	color #33c89e;
}
.active {
	background-color : #ffffff;
}
p {
	font-size : 120%;
	margin-left : 2%;
	margin-right : 2%;
}
h {
	font-size : 140%;
	font-weight: bold;
	display : block;
	margin-left : 2%;
	margin-top : 10px;
	margin-bottom: 10px;
	color : #801010;
}
h1 {
	margin-left : 2%;
}
.navbar {
	display : block;
	margin-left : 8%;
	margin-right : 8%;
	padding : 5px;
	text-align : center ;
	box-shadow: 0px 0px 2px 2px #101010;
	border-style : solid;
	border-width : 2px;
	border-color : #801010;
}
.navc {
	font-size : 140%;
	color : #e05050;
}
.active {
	background-color : #ffffff;
}
img {
	margin-top : 20px;
	margin-bottom : 20px;	
	display : block;
	width : 60%;
	height : auto;
	margin-left : auto;
	margin-right : auto;
	box-shadow: 0px 0px 2px 2px #101010;
}
.slide {
	display: none;
}
.prev {
	display : inline-block;
	margin-right : 47%;
	bottom : -50%;
}
.next {
	display : inline-block;
	margin-left : 47%;
	position : relative;
	top : 50%;
}
.slidebar{
	width: 60%;
	margin-left : auto;
	margin-right : auto;
}
